# Default values for chart.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

image:
  repository: twingate/connector
  tag: latest
  pullPolicy: Always

resources:
  requests:
    cpu: 50m
    memory: 1G

nodeSelector: {}

tolerations: []

affinity: {}

connector:
  logLevel: "error"
  network:
  url: "twingate.com"
  accessToken:
  refreshToken:
  dnsServer:
  