# Default values for chart.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

image:
  repository: twingate/connector
  tag: 1
  pullPolicy: Always

resources:
  requests:
    cpu: 50m
    memory: 1G

additionalLabels: {}

nodeSelector: {}

tolerations: []

affinity: {}

## Extra environment variables that will be pass onto connector pod
## 
## env:
##   FOO: bar
##

env: {}

# Enable the Linux kernel's net.ipv4.ping_group_range parameter to allow ping connector.
# Use only if you enable this sysctls in your cluster (disabled by default)
# Or have Kubernetes master higher than 1.18
# (https://kubernetes.io/docs/tasks/administer-cluster/sysctl-cluster/#enabling-unsafe-sysctls)
icmpSupport:
  enabled: false

connector:
  logLevel: "error"
  network:
  url: "twingate.com"
  accessToken:
  refreshToken:
  dnsServer: